In [1]:
from pandas.plotting import scatter_matrix
import pandas as pd
import numpy as np
import datetime as dt

df = pd.read_csv('20200124_ews_observations.csv')
df.dtypes

/home/kustex/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

PatientId            int64
ObservationDate     object
EwsProcedure        object
EWS_Total            int64
SBP                float64
SBP_Score          float64
LOC                 object
LOC_Score            int64
SpO2               float64
SpO2_Score         float64
Add_O2              object
Add_O2_Score       float64
HR                   int64
HR_Score             int64
RR                   int64
RR_Score             int64
TEMP               float64
TEMP_Score           int64
dtype: object

In [2]:
df.head().T

,0,1,2,3,4
PatientId,29,30,31,32,33
ObservationDate,2019-05-01 13:27:50.0000000,2019-05-01 15:27:44.0000000,2019-05-01 15:54:27.0000000,2019-05-01 16:07:27.0000000,2019-05-01 17:03:16.0000000
EwsProcedure,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2
EWS_Total,0,3,1,0,0
SBP,143,NaN,117,NaN,135
SBP_Score,0,NaN,0,NaN,0
LOC,ALERT,ALERT,ALERT,ALERT,ALERT
LOC_Score,0,0,0,0,0
SpO2,96,94,95,98,97
SpO2_Score,0,1,1,0,0
Add_O2,False,False,False,False,False
Add_O2_Score,0,0,0,0,0
HR,80,83,75,85,89
HR_Score,0,0,0,0,0
RR,18,16,14,19,14
RR_Score,0,0,0,0,0
TEMP,36.6,36.5,37.3,37.2,36.1
TEMP_Score,0,0,0,0,0

In [3]:
df.isnull().sum()

PatientId              0
ObservationDate        0
EwsProcedure           0
EWS_Total              0
SBP                10787
SBP_Score          10787
LOC                    0
LOC_Score              0
SpO2                   2
SpO2_Score             2
Add_O2                 2
Add_O2_Score           2
HR                     0
HR_Score               0
RR                     0
RR_Score               0
TEMP                   0
TEMP_Score             0
dtype: int64

In [4]:
df = df.dropna(axis='rows')

In [5]:
df.isnull().sum()

PatientId          0
ObservationDate    0
EwsProcedure       0
EWS_Total          0
SBP                0
SBP_Score          0
LOC                0
LOC_Score          0
SpO2               0
SpO2_Score         0
Add_O2             0
Add_O2_Score       0
HR                 0
HR_Score           0
RR                 0
RR_Score           0
TEMP               0
TEMP_Score         0
dtype: int64

In [6]:
print(df.LOC.unique())
print(df.EwsProcedure.unique())
print(df.Add_O2.unique())

['ALERT' 'NEW_CONFUSION' 'VOICE' 'PAIN' 'UNRESPONSIVE']
['NEWS2']
[False True]

In [7]:
dummies_Add_02 = pd.get_dummies(df['Add_O2'], prefix='Add_O2')
dummies_LOC = pd.get_dummies(df['LOC'], prefix='LOC')
df = pd.concat([df, dummies_LOC, dummies_Add_02], axis=1)
df = df.drop(['LOC','EwsProcedure', 'Add_O2'], axis=1)

In [8]:
df['ObservationDate'] = df['ObservationDate'] = pd.to_datetime(df['ObservationDate'])
df['Year'] = pd.DatetimeIndex(df['ObservationDate']).year
df['Month'] = pd.DatetimeIndex(df['ObservationDate']).month
df['Day'] = pd.DatetimeIndex(df['ObservationDate']).day
df['Time'] = pd.DatetimeIndex(df['ObservationDate']).time

In [9]:
df.head()

,PatientId,ObservationDate,EWS_Total,SBP,SBP_Score,LOC_Score,SpO2,SpO2_Score,Add_O2_Score,HR,...,LOC_NEW_CONFUSION,LOC_PAIN,LOC_UNRESPONSIVE,LOC_VOICE,Add_O2_False,Add_O2_True,Year,Month,Day,Time
0,29,2019-05-01 13:27:50,0,143.0,0.0,0,96.0,0.0,0.0,80,...,0,0,0,0,1,0,2019,5,1,13:27:50
2,31,2019-05-01 15:54:27,1,117.0,0.0,0,95.0,1.0,0.0,75,...,0,0,0,0,1,0,2019,5,1,15:54:27
4,33,2019-05-01 17:03:16,0,135.0,0.0,0,97.0,0.0,0.0,89,...,0,0,0,0,1,0,2019,5,1,17:03:16
8,32,2019-05-01 21:08:05,0,125.0,0.0,0,97.0,0.0,0.0,87,...,0,0,0,0,1,0,2019,5,1,21:08:05
10,34,2019-05-01 21:13:21,1,117.0,0.0,0,95.0,1.0,0.0,64,...,0,0,0,0,1,0,2019,5,1,21:13:21