In [14]:
from pandas.plotting import scatter_matrix
import pandas as pd
import numpy as np

df = pd.read_csv('20200124_ews_observations.csv')
df.dtypes

/home/kustex/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

PatientId            int64
ObservationDate     object
EwsProcedure        object
EWS_Total            int64
SBP                float64
SBP_Score          float64
LOC                 object
LOC_Score            int64
SpO2               float64
SpO2_Score         float64
Add_O2              object
Add_O2_Score       float64
HR                   int64
HR_Score             int64
RR                   int64
RR_Score             int64
TEMP               float64
TEMP_Score           int64
dtype: object

In [15]:
df.head().T

,0,1,2,3,4
PatientId,29,30,31,32,33
ObservationDate,2019-05-01 13:27:50.0000000,2019-05-01 15:27:44.0000000,2019-05-01 15:54:27.0000000,2019-05-01 16:07:27.0000000,2019-05-01 17:03:16.0000000
EwsProcedure,NEWS2,NEWS2,NEWS2,NEWS2,NEWS2
EWS_Total,0,3,1,0,0
SBP,143,NaN,117,NaN,135
SBP_Score,0,NaN,0,NaN,0
LOC,ALERT,ALERT,ALERT,ALERT,ALERT
LOC_Score,0,0,0,0,0
SpO2,96,94,95,98,97
SpO2_Score,0,1,1,0,0
Add_O2,False,False,False,False,False
Add_O2_Score,0,0,0,0,0
HR,80,83,75,85,89
HR_Score,0,0,0,0,0
RR,18,16,14,19,14
RR_Score,0,0,0,0,0
TEMP,36.6,36.5,37.3,37.2,36.1
TEMP_Score,0,0,0,0,0

In [16]:
df.isnull().sum()

PatientId              0
ObservationDate        0
EwsProcedure           0
EWS_Total              0
SBP                10787
SBP_Score          10787
LOC                    0
LOC_Score              0
SpO2                   2
SpO2_Score             2
Add_O2                 2
Add_O2_Score           2
HR                     0
HR_Score               0
RR                     0
RR_Score               0
TEMP                   0
TEMP_Score             0
dtype: int64

In [17]:
df.LOC.unique()

array(['ALERT', 'UNRESPONSIVE', 'NEW_CONFUSION', 'VOICE', 'PAIN'],
      dtype=object)